.navbar {
  padding: 0.5rem 2rem;
  background-color: #000000;
}

@media (max-width: 825px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar img {
    padding-bottom: 0.5rem;
  }
}
